#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border-radius: 1em;
  /* background-color: beige; */
}

.list {
padding: 1em;
margin: 3px 0;
background-color: rgba(22, 223, 72, 0.445);
border: black solid 1px;
border-radius: 1em;
}

.fruit {
  background-color: #efb57b;
}
.fruit:hover {
color: black;
background-color: rgba(165, 111, 45, 0.59);
cursor: pointer;
}
.fruit:active {
  color: black;
background-color: rgba(217, 202, 183, 0.59);
cursor: pointer;
}
.vegetable {
  background-color: rgb(142, 161, 113);

}
.vegetable:hover {
  color: black;
  background-color: rgba(142, 161, 113, 0.384);
  cursor: pointer;

  }
  .vegetable:active {
    color: black;
  background-color: rgba(219, 230, 203, 0.863);
  cursor: pointer;
  }